{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block sitecontent -%}

    <h1>Modificar Vendedores</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('vendedores') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
