{% extends '::base.html.twig' %}

{% block sitecontent -%}
    <h1>Detdocumentos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('detdocumentos') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
