{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block head %}
    {{ parent() }}     
    <script type="text/javascript">
        $(document).ready(function(){
       jQuery("#tblclasprod").jqGrid({
                url:"{{ path('clasifproductos_listGrid') }}",
                editurl:"{{ path('clasifproductos_guardaGrid') }}",
                datatype: 'json',
                height:'400px',
                width:'900px', 
                mtype: 'POST',
                colNames:['Id','Descripción', 'Aplicación','Pertenece a'],
                colModel:[
                    {name:'id', index:'id', width:100, resizable:false, align:"center"},
                    {name:'txdescripcion', index:'txdescripcion', width:250, resizable:false, sortable:true, editable: true},
                    {name:'intipo', index:'intipo', width:150, editable: true, edittype:'select', formatter:'select', editoptions:{value: "0:APLICACION;1:MARCA"} },
                    {name:'inpadre', index:'inpadre', width:200, editable: true}
                ],
                pager: '#paginacion',
                rowNum:50,
                rowList:[10,20,50,100,500],
                sortname: 'intipo',
                sortorder: 'asc',
                viewrecords: true,
                caption: 'CLASIFICACION DE PRODUCTOS',
                grouping:true, 
                groupingView : { 
                    groupField : ['intipo', 'inpadre']}
               }); 
            jQuery("#tblclasprod").jqGrid('navGrid',"#paginacion",{add: false,edit:false,del:false,search:false});
            jQuery("#tblclasprod").jqGrid('inlineNav',"#paginacion");
            //jQuery("#tblclasprod").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: true });
        });
        
    </script>
{% endblock %}

{% block main %}

  {{ parent() }}     
  {% block sitecontent %}
      <div> <table id="tblclasprod"></table>
    <div id="paginacion"></div> </div> 
  {% endblock %}
{% endblock %}
   
