{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block head %}
    {{ parent() }}     
    <script type="text/javascript">
        $(document).ready(function(){
        jQuery("#tblclasprod").jqGrid({
                url:"{{ path('clasifproductos_listGrid') }}",
                editurl:"{{ path('clasifproductos_guardaGrid') }}",
                datatype: 'json',
                height:'400px',
                width:'900px', 
                mtype: 'POST',
                colNames:['Id','Descripción', 'Aplicación','Pertenece a', 'Apl.', 'Grupo'],
                colModel:[
                    {name:'id', index:'id', width:100, resizable:false, align:"center"},
                    {name:'txdescripcion', index:'txdescripcion', width:250, resizable:false, sortable:true, editable: true},
                    {name:'intipo', index:'intipo', width:150, editable: true, hidden: true},
                    {name:'inpadre', index:'inpadre', width:200, editable: true, hidden: true},
                    {name:'txtipo', index:'txtipo', width:200, editable: true, edittype:'select', formatter:'select', editoptions:{value: "APLICACION:APLICACION;MARCA:MARCA"} },
                    {name:'txpadre', index:'txpadre', width:200, editable: false}
                ],
                pager: '#paginacion',
                rowNum:50,
                rowList:[10,20,50,100,500],
                sortname: 'txtipo',
                sortorder: 'asc',
                viewrecords: true,
                caption: 'CLASIFICACION DE PRODUCTOS',
                grouping:true, 
                groupingView : { 
                    groupField : ['txtipo', 'txpadre']},
//                onSelectRow: function(id,intipo){
//                        pid=id;
//                        pintipo=intipo;
//                        grid.setGridParam({editurl:”page.php?parameter=bye”});
//                }
               }); 
            jQuery("#tblclasprod").jqGrid('navGrid',"#paginacion",{add: false,edit:false,del:false,search:false});
            jQuery("#tblclasprod").jqGrid('inlineNav',"#paginacion");
            jQuery("#tblclasprod").hideCol('intipo');
            jQuery("#tblclasprod").hideCol('inpadre');
            //*jQuery("#tblclasprod").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: true });
        });
        
    </script>
{% endblock %}

{% block main %}

  {{ parent() }}     
  {% block sitecontent %}
      <div> <table id="tblclasprod"></table>
    <div id="paginacion"></div> </div> 
  {% endblock %}
{% endblock %}
   
