{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block sitecontent -%}

    <div id="sitecontent"> 
        <div id="menubar"> 
            <ul id="menu">
                <li><a href="{{ path('tipdoc') }}">Volver al listado</a></li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>    
        <h1>Modificar tipos de documento</h1>

        {{ form(edit_form) }}
    </div>    


{% endblock %}
