{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block sitecontent -%}

    <div id="sitecontent"> 
        <h1>Crear tipo de documento</h1>
        {{ form(form) }}

        <ul class="record_actions">
            <li><a href="{{ path('tipdoc') }}">Volver al listado</a></li>
        </ul>
    </div>    
{% endblock %}
