{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block sitecontent -%}

    <h1>Productos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('productos') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
